################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwarmBackend/obj
/SwarmBackend/.vs
/SwarmBackend/bin
*.cache
/.vs
swarm_ws/.vscode/settings.json
.gitignore
config.xlaunch
/swarm_ws/build/
/ros_wss/bin/Debug/net7.0
/ros_wss/obj/Debug/net7.0
/ros_wss/obj/Release/net7.0
/ros_wss/obj
SwarmBackend/obj/*
SwarmBackend/obj/
