version: '3.3'
services:
  db:
    image: postgres:17.0
    container_name: db_prod
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    image: swarmbackend:latest
    container_name: backend_prod
    restart: always
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__Default=User Id=${DB_USER};Password=${DB_PASSWORD};Server=db;Port=5432;Database=${DB_NAME}
    ports:
      - "8080:80"
    depends_on:
      - db
    command: sh -c "until nc -z db 5432; do echo waiting for db; sleep 2; done; dotnet SwarmBackend.dll"

volumes:
  postgres_data: