<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="use_gui" default="true"/>
  <arg name="arena_width" default="10.0"/>
  <arg name="arena_height" default="10.0"/>
  
  <!-- Launch Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
    <arg name="gui" value="$(arg use_gui)"/>
  </include>
  
  <!-- Load and spawn the arena with the CORRECT path that uses ../ -->
  <param name="arena_description" 
         command="$(find xacro)/xacro --inorder $(find robot_swarm_bridge)/../urdf/turtlebot_arena.xacro 
                 arena_width:=$(arg arena_width) arena_height:=$(arg arena_height)"/>
  
  <node name="spawn_arena" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param arena_description -model arena -x 0 -y 0 -z 0" 
        output="screen" />
</launch>